.text-blue-shadow{
    color: #25355B;
}
.bg-blue{
    background-color: #25355B;
}

p{
    line-height: 18px;
}
body{
    margin: auto;
    background-color: #FBFBFD;
}
a{
    text-decoration: none;
}

.social-medias{
    z-index: 1;
    position: fixed;
    top: 25px;
    right: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 200px;
    height: 60px;

    background-color: #25355B;
    border: #FBFBFD solid 1px;
    border-radius: 4px;

}
@media (max-width:991px) {
    .social-medias{
        display: none;
    }

}
.social-medias-img{
    height: 25px;
    width: 25px;
}
#nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-mod:hover {
    background-color: rgba(249, 241, 241, 0.75);
    color: #25355B;
    border-radius: 5px 5px 5px 5px;
}
.nav-mod-alternative {
    color: #FBFBFD;
    opacity: 0.90 !important;
    width: 10rem;
    padding: 1rem;
    margin-left: 15px;
    text-align: center;
}
@media (min-width:991px) {
    .nav-mod {
        color: #25355B;
        opacity: 0.90 !important;
        width: 10rem;
        padding: 1rem;
        margin-left: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .text-light{
        color: #FBFBFD;
    }

    .nav-mod:hover {
        background-color: rgba(249, 241, 241, 0.75);
        border-radius: 5px 5px 5px 5px;
        color: #25355B!important;
    }
}
.bg-main{
    background-image: url("../img/bg-main.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 45em;
}
.bg-text-bg-main{
    padding: 2em 0em 0em 0em ;
    background-color: rgba(249,241,241, 0.5);
    border-radius: 5px 5px 5px 5px;
    margin-bottom: 15px;
}
.hid{
    display: none;
}
.whyChoose{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    width: 50%;
}
@media (max-width:991px) {
    .hid{
        display: block;
    }
    .bg-text-bg-main{
        padding: 2em 0em 0em 0em ;
        background-color: rgba(249,241,241, 0.5);
        border-radius: 5px 5px 5px 5px;
        margin-bottom: 15px;
        width: 100%;
        margin-top: 5%;
    }
    .mobile-title{
        margin-left: 20%;
    }
    .mobile-logo{
        width: 15rem;
    }
    .mobile-nav{
        position: absolute;
        top: 20px;
        right: 25px;
    }
    .navbar-burger{
        color: #1c1726;
        border-color: #34bfa3;
    }
    #navbarNavAltMarkup {
        background: #25355B;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        min-height: 100%;
        padding-top: 80px;
        border-bottom: #364e85 solid 1px;
        text-align: center;
        z-index: 5;
    }
    .mobile-text-nav{
        color: #FBFBFD;
        height: 10em;
    }
    .mobile-btn-close{
        position: absolute;
        top: 25px;
        right: 10%;
    }
}

.btn-mod{
    background-color: #25355B;
    text-decoration: none;
    border: none;
    border-radius: 0px 0px 5px 5px;
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-mod:hover{
    background-color: #364e85;
}
.btn-contact{
    font-size: 1.7em;
    color: #FBFBFD;
    text-decoration: none;

}
.round-img{
    border-radius: 50%;
}
.size-round{
    width: 15rem;
    height: 15rem;
}
.img-alterant{
    height: 300px;
    width: 485px;
}
.bg-alternant-1{
    background-color: #25355B;

}
.bg-alternant-2{
    background-color: #FBFBFD;
}
.bg-alternant-3{
    background-color: #25355B;
}
.bg-alternant-4{
    background-color: #FBFBFD;
}
.bg-blue{
    background-color: #25355B;
}
.zoom-icon:hover{
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

/* form */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap');

.form-holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.form-holder .form-content {
    position: relative;
    text-align: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    padding: 60px;
}

.form-content .form-items {
    border: 3px solid #fff;
    padding: 40px;
    display: inline-block;
    width: 100%;
    min-width: 540px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-align: left;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.form-content h3 {
    color: #fff;
    text-align: left;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 5px;
}

.form-content h3.form-title {
    margin-bottom: 30px;
}

.form-content p {
    color: #fff;
    text-align: left;
    font-size: 17px;
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 30px;
}


.form-content label, .was-validated .form-check-input:invalid~.form-check-label, .was-validated .form-check-input:valid~.form-check-label{
    color: #fff;
}

.form-content input[type=text], .form-content input[type=password], .form-content input[type=email], .form-content select {
    width: 100%;
    padding: 9px 20px;
    text-align: left;
    border: 0;
    outline: 0;
    border-radius: 6px;
    background-color: #fff;
    font-size: 15px;
    font-weight: 300;
    color: #8D8D8D;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    margin-top: 16px;
}


.btn-primary{
    background-color: #6C757D;
    outline: none;
    border: 0px;
    box-shadow: none;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active{
    background-color: #495056;
    outline: none !important;
    border: none !important;
    box-shadow: none;
}

.form-content textarea {
    position: static !important;
    width: 100%;
    padding: 8px 20px;
    border-radius: 6px;
    text-align: left;
    background-color: #fff;
    border: 0;
    font-size: 15px;
    font-weight: 300;
    color: #8D8D8D;
    outline: none;
    resize: none;
    height: 120px;
    -webkit-transition: none;
    transition: none;
    margin-bottom: 14px;
}

.form-content textarea:hover, .form-content textarea:focus {
    border: 0;
    background-color: #ebeff8;
    color: #8D8D8D;
}

.mv-up{
    margin-top: -9px !important;
    margin-bottom: 8px !important;
}

.invalid-feedback{
    color: #ff606e;
}

.valid-feedback{
    color: #2acc80;
}

/* footer */

li {
 list-style:none
}
a:focus,a:hover {
 text-decoration:none;
 -webkit-transition:.3s ease;
 -o-transition:.3s ease;
 transition:.3s ease
}
a:focus {
 outline:0
}
img {
 max-width:100%
}

h4 {
 font-family:Rubik,sans-serif;
 margin:0;
 font-weight:400;
 padding:0;
 color:#363940
}
a {
 color:#5867dd
}
.no-padding {
 padding:0!important
}
.go_top {
 line-height:40px;
 cursor:pointer;
 width:40px;
 background:#5867dd;
 color:#fff;
 position:fixed;
 -webkit-box-shadow:0 4px 4px rgba(0,0,0,.1);
 box-shadow:0 4px 4px rgba(0,0,0,.1);
 -webkit-border-radius:50%;
 border-radius:50%;
 right:-webkit-calc((100% - 1140px)/ 2);
 right:calc((100% - 1140px)/ 2);
 z-index:111;
 bottom:80px;
 text-align:center
}
.go_top span {
 display:inline-block
}
.footer-big .footer-widget {
 margin-bottom:40px
}
.footer--light {
 background:#e7e8ed
}
.footer-big .footer-menu ul li a,.footer-big p,.footer-big ul li {
 color:#898b96
}
.footer-menu {
 padding-left:48px
}
.footer-menu ul li a {
 font-size:15px;
 line-height:32px;
 -webkit-transition:.3s;
 -o-transition:.3s;
 transition:.3s
}
.footer-menu ul li a:hover {
 color:#5867dd
}
.footer-menu--1 {
 width:100%
}
.footer-widget-title {
 line-height:42px;
 margin-bottom:10px;
 font-size:18px
}
.mini-footer {
 background-color: #FBFBFD;
 text-align:center;
 padding:32px 0
}
.mini-footer p {
 margin:0;
 line-height:26px;
 font-size:15px;
 color:#999
}
.mini-footer p a {
 color:#5867dd
}
.mini-footer p a:hover {
 color:#34bfa3
}
.widget-about img {
 display:block;
 margin-bottom:30px
}
.widget-about p {
 font-weight:400
}
.widget-about .contact-details {
 margin:30px 0 0 0
}
.widget-about .contact-details li {
 margin-bottom:10px
}
.widget-about .contact-details li:last-child {
 margin-bottom:0
}
.widget-about .contact-details li span {
 padding-right:12px
}
.widget-about .contact-details li a {
 color:#5867dd
}
@media (max-width:991px) {
 .footer-menu {
  padding-left:0
 }
}
/* realisation */
.bg-header{
    background-color: #192027;
}
.bg-body{
    background-color: #FBFBFD;
}


